<div class="teaser">
  <div class="content align-items-center justify-content-center">
<!--    <h1>me</h1><br><br>-->
    <div class="row">
      <div class="col-12">
        <img src="assets/futurama_me_2024-no-bg.webp" height="250" class="img-fluid rounded-circle me-bulletin-image" alt="Robert Stiehler">
      </div>
    </div>
    <div class="row">
        <div class="col-6 text-end me-bulletin-left me-bulletin-points">Vorname</div>
        <div class="col-6 text-start me-bulletin-points">Robert</div>
    </div>
    <div class="row">
      <div class="col-6 text-end me-bulletin-left me-bulletin-points">Nachname</div>
      <div class="col-6 text-start me-bulletin-points">Stiehler</div>
    </div>
    <div class="row">
      <div class="col-6 text-end me-bulletin-left me-bulletin-points">Jahrgang</div>
      <div class="col-6 text-start me-bulletin-points">1985</div>
    </div>
    <div class="row">
      <div class="col-6 text-end me-bulletin-left me-bulletin-points">Sternzeichen</div>
      <div class="col-6 text-start me-bulletin-points">Skorpion</div>
    </div>
    <div class="row">
      <div class="col-6 text-end me-bulletin-left me-bulletin-points">Heimat</div>
      <div class="col-6 text-start me-bulletin-points">Rhön</div>
    </div>
    <div class="row">
      <div class="col-6 text-end me-bulletin-left me-bulletin-points">Familienstand</div>
      <div class="col-6 text-start me-bulletin-points">In wilder Ehe</div>
    </div>
    <div class="row">
      <div class="col-6 text-end me-bulletin-left me-bulletin-points">Kinder</div>
      <div class="col-6 text-start me-bulletin-points">Einen Sohn</div>
    </div>
    <div class="row">
      <div class="col-6 text-end me-bulletin-left me-bulletin-points">Ausbildung</div>
      <div class="col-6 text-start me-bulletin-points">Abgeschlossenes<br/>Studium der Informatik</div>
    </div>
    <div class="row">
      <div class="col-6 text-end me-bulletin-left me-bulletin-points">Beruf</div>
      <div class="col-6 text-start me-bulletin-points">Unternehmer</div>
    </div>
    <div class="row">
      <div class="col-6 text-end me-bulletin-left me-bulletin-points">Weltanschaung</div>
      <div class="col-6 text-start me-bulletin-points">Libertär <br/><sub>vulgärliberaler Psychopath</sub>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-end me-bulletin-left me-bulletin-points">Hobby</div>
      <div class="col-6 text-start me-bulletin-points">Motorradrennen fahren <br/>
      </div>
    </div>
  </div>
</div>
