<div class="teaser">
  <div class="content align-items-center justify-content-center vh-100">
    <h1>DeveRoSt Blog</h1><br><br>

    <section class="blog">
      @if (blogLoading) {
        <div class="blog-status">
          <img src="assets/nostr-logo.svg" alt="Nostr Logo" class="nostr-logo loading">
        </div>
      }

      @if (!blogLoading && blogEntries.length === 0) {
        <div class="blog-status">
          Keine Blogeinträge gefunden.
        </div>
      }

      @for (entry of blogEntries; track entry) {
        <article class="blog-entry">
          @if (entry.image) {
            <img class="blog-entry-image" [src]="entry.image" [alt]="entry.title">
          }
          <div class="blog-entry-body">
            <div class="blog-entry-date">
              {{ entry.date * 1000 | date:'dd.MM.yyyy' }}
            </div>
            <h3>{{ entry.title }}</h3>
            <!--          <p class="blog-entry-summary" *ngIf="entry.summary">{{ entry.summary }}</p>-->
            <div class="blog-entry-content" [innerHTML]="formatContent(entry.event.content)"></div>
          </div>
        </article>
      }
    </section>
  </div>
</div>
